[submodule ".registry"]
	path = .registry
	url = https://github.com/daniela-l/daniela-l.r-universe.dev
	branch = HEAD
[submodule "packageVignette"]
	path = packageVignette
	url = https://github.com/Daniela-L/packageVignette
